.kyrgyz {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(194, 6, 218);
}

.text {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 1px;
    height: 1px;
}